@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://static.vecteezy.com/system/resources/thumbnails/010/533/814/small/dark-orange-template-with-sky-clouds-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
}

.container {
  position: relative;
  width: 60%;
  background: rgba(46, 59, 78, 0.7);
  border-radius: 15px;
  opacity: 0.9;
  padding: 20px;
  color: white;
}

.search-box {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.search-box input {
  width: calc(100% - 60px);
  height: 100%;
  background: transparent;
  border: 2px solid #50597b;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0 50px 0 50px;
  color: white;
}

.search-box input::placeholder {
  color: #a1a1a1;
}

.search-box i {
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: #a1a1a1;
}

.search-box button {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  color: #a1a1a1;
}

#weather-container {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

#weather-container img {
  width: 120px;
}

#weather-container p {
  font-size: 18px;
  margin: 5px 0;
}
#current-weather {
  align-items: center;
}

#weather-days {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#weather-days > div {
  background-color: #3b4a61;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 18%;
}

#weather-days p {
  margin: 5px 0;
}

#weather-days img {
  width: 40px;
}

@media (max-width: 600px) {
  body {
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
  }

  .container {
    width: 90%;
    height: 100%;
    padding: 10px;
  }

  .search-box input {
    font-size: 16px;
    padding: 0 10px 0 40px;
  }
  #weather-container {
    margin-bottom: 100px;
  }
  #weather-container img {
    width: 100px;
  }

  #weather-container p {
    font-size: 16px;
  }

  #weather-days {
    display: block;
    margin-top: 20px;
    margin-bottom: 20%;
  }

  #weather-days > div {
    width: 100%;
    margin-bottom: 15px;
  }

  #weather-days p {
    font-size: 14px;
  }

  #weather-days img {
    width: 60px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-repeat: repeat;
  }
  .container {
    width: 80%;
    height: 100%;
    padding: 15px;
  }

  .search-box input {
    font-size: 17px;
    padding: 0 20px 0 40px;
  }

  #weather-container {
    margin-bottom: 100px;
  }
  #weather-container img {
    width: 100px;
  }

  #weather-container p {
    font-size: 16px;
  }

  #weather-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  #weather-days > div {
    width: 48%;
    margin-bottom: 20px;
  }

  #weather-days p {
    font-size: 15px;
  }

  #weather-days img {
    width: 70px;
  }
}
